@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{ 
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --primary-color:  #7159c1;
    --secondary-color: #F7DF1E;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color:white ;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}   

.links {
    font-size: 22px;
}

.links a + a{ 
    margin-left: 32px;
}

.links a { 
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

/* pseudo-element */

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -4px;
    left: 0;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

 /* --------- CARD --------- */

 .card {
     background-color: white;
     width: 800px;
     min-height: 400px;

     margin: 45px auto;

     display: grid;
     grid-template-columns: 1fr 1fr;

     box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
     
     /* animation */

     animation-name: up;
     animation-duration: 700ms;
     /* faz com que a animação seja suave */
     animation-timing-function: ease-out;
     /* faz com que a animação termine e continue no to */
     animation-fill-mode: forwards; 
 }

 @keyframes up {
      from{ 
        opacity: 0;
        /* faz a animacao começar com um deslocamento no eixo Y */
        transform: translateY(15px);
     }

     to{
        opacity: 1;
     }
 }

   /* ------Details----- */

   .details {
       padding: 32px;
   }

   .details .item{
       padding: 16px 0;
       border-bottom: rgba(0, 0, 0, 0.1);
   }

   .details .item:last-child {
       border-bottom: none;
   }
   .details h3,
   .details .item div:nth-child(1){
       color: #555;
       font-size: 14px;
       line-height: 24px;
       letter-spacing: 0.7px;
       font-weight: normal;
   }

   .details .item div:nth-child(2) {
        color: #555;
        font-weight: bold;
        font-size: 18px;
   }

   .details h3 {
        text-transform: uppercase;
        font-weight: bold;
        color: var(--primary-color);
   }

   .details .item span{
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
   }

   /* ---FORM--- */

   input {
       width: 100%;
       outline: none;
       color: #555;
       font-weight: bold;
       font-size: 18px;
   }

   input[type="radio"] {
       width: initial;
       margin-right: 4px;
   }

   input::placeholder {
       font-size: 16px;
       font-weight: normal;
    }

    button[type="submit"] {
        padding: 8px 32px;
        background-color: var(--primary-color);
        border-radius: 4px;
        margin-top: 32px;
        width: 100%;
        color: white;
        font-size: 16px;
    }